{% extends 'base.html.twig' %}
{% block content %}
    <section class="ftco-section ftco-no-pb" style="
    margin-bottom: 132px;
    margin-top: 70px;
">
        <div class="container" style="width: fit-content;">
            <div style="width: fit-content;margin: auto;float: left;">
                <a href="{{ path('modifierEleve',{'id':elid}) }}"><button type="" id="" name="" class="btn btn-primary py-3 px-5" value="modifier">Modifier vos informations</button></a></div>

        </div>
    </section>
{% endblock %}