{% extends '@Evenement/Evenement/baseEvenementView.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset ('Evenement/css/jquery.dataTables.min.css') }}">
    <style>
        .resize {
            height: 90px !important;
            width: 105px !important;
        }
        .table {
            width: 100% !important;
        }
    </style>
{% endblock %}
{% block content %}


    <div class="row">

        <div class="col-lg-10 col-lg-offset-1">
            <table id="myTable" style="width: 100% !important;"
                   class="table table-bordered table-condensed table-hover table-striped display responsive nowrap">
                <thead>
                <tr>
                    <th class="col-md-1 col-xs-1"> Titre</th>
                    <th class="col-md-1 col-xs-1"> Capacite </th>
                    <th class="col-md-1 col-xs-1"> Prix </th>
                    <th class="col-md-1 col-xs-1"> Date Debut  </th>
                    <th class="col-md-1 col-xs-1"> Affiche </th>
                    <th class="col-md-1 col-xs-1"> Action </th>


                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset ('Evenement/js/jquery.dataTables.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('Evenement/js/dataTables.responsive.min.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('#myTable').dataTable({
                "processing": true,
                "serverSide": true,
                "ajax": "{{ path('mes_reservations_donnees') }}",
                "sAjaxDataProp": "data",
                "pageLength": 5,
                columns: [
                    {"data": "nomE"},
                    {"data": "capaciteE"},
                    {"data": "prixE"},
                    {"data": "dateD"},
                    {"data": "imgE"},
                    {"data": "Action"},
                ],
                "retrieve": true
            });
        });
    </script>
{% endblock %}