{% extends "::base.html.twig" %}

{% block title %}MgiletNotificationBundle:Controller:sendNotification{% endblock %}

{% block body %}
<h1>Welcome to the Controller:sendNotification page</h1>
{% endblock %}
